<!DOCTYPE html>
<html lang="en-us" data-ng-app="AngularTicTacToe">
	<head>
		<title>Angular Tic Tac Toe</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<section data-ng-controller="TicTacToeController">
			<div id="gameBoard">
				<div class="row" id="topRow"><div class="cell" data-ng-click="cellClick(0,0)">{{board.getCell(0,0)}}</div><div class="cell" data-ng-click="cellClick(0,1)">{{board.getCell(0,1)}}</div><div class="cell" data-ng-click="cellClick(0,2)">{{board.getCell(0,2)}}</div></div>
				<div class="row" id="middleRow"><div class="cell" data-ng-click="cellClick(1,0)">{{board.getCell(1,0)}}</div><div class="cell" data-ng-click="cellClick(1,1)">{{board.getCell(1,1)}}</div><div class="cell" data-ng-click="cellClick(1,2)">{{board.getCell(1,2)}}</div></div>
				<div class="row" id="bottomRow"><div class="cell" data-ng-click="cellClick(2,0)">{{board.getCell(2,0)}}</div><div class="cell" data-ng-click="cellClick(2,1)">{{board.getCell(2,1)}}</div><div class="cell" data-ng-click="cellClick(2,2)">{{board.getCell(2,2)}}</div></div>
			<div>
		</section>
		<script src="js/angular.min.js"></script>
		<script>
			"use strict";

			var TicTacToeBoard = (function(){
				function TicTacToeBoard() {
					this.board = [
						["", "", ""],
						["", "", ""],
						["", "", ""]
					];
				}

				TicTacToeBoard.prototype.getCell = function(x, y) {
					return this.board[x][y];
				};

				TicTacToeBoard.prototype.setCell = function(x, y, value) {
					this.board[x][y] = value;
				};

				return TicTacToeBoard;
			})();

			var TicTacToeApp = angular.module("AngularTicTacToe", []);
			TicTacToeApp.controller("TicTacToeController", function($scope) {
				$scope.board = new TicTacToeBoard();
				$scope.currentPlayer = "X";
				$scope.nextPlayer = "O";

				$scope.cellClick = function(x, y) {
					if($scope.board.getCell(x, y) === "") {
						$scope.board.setCell(x, y, $scope.currentPlayer);
						var temp = $scope.currentPlayer;
						$scope.currentPlayer = $scope.nextPlayer;
						$scope.nextPlayer = temp;
					}
				};
			});
		</script>
	</body>
</html>
